

.container{
  display: flex;
  flex-direction: column;
  gap: 25px;
}


.content-dash{
  display: flex;
  gap: 12px;
  flex-direction: row;
  justify-content: space-between;
}

.content-name{
  cursor: pointer;
  padding: 0.2rem 0.5rem;
}


@media screen and (max-width: 650px) {

  .content-dash{
    flex-direction: column;
  }

}
